body {
	background: #fff; 
	font-family: "Cormorant+Garmond";
	background-repeat: no-repeat;
	background-color: white;
	background-image: url('../Images/grass2.jpg');
	background-position-y: 100%;
	background-position-x: 50%;
	background-size: 100% 30%;
	background-attachment: fixed;

	}
img.school {
	display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;

}
main {
    margin-left: 10em;
    margin-right:20%;
    width: 65em;
}
.front {
    margin-left: 10em;
    margin-right:20%;
    width: 65em;
    padding-top: 10px;
    display: block;
}
.back 
{
    margin-left: 10em;
    margin-right:20%;
    width: 65em;
    padding-top: 10px;
    display: block;
    border-top: black 1px solid;
}

/* ------------------------------------------------------------------------ */
/* ------------ section and div types (in TEI, main div types ------------- */
/* ------------------------------------------------------------------------ */

section.titlePage {
    border-bottom: black solid 3px;
    padding-top: 10px;
    display: block;
}

/* notes section when plural, the class note without 's' is textual style. */
section.notes {
    margin-left: 6.65em;
    margin-right: 20%;
    border:solid 1px #666666;
    width: 43.35em;
    padding: 20px;
	line-height: 30px;
	font-size: 24px;} 
/* makes the screen go to the top and/or bottom in note scrolling */	

.note {
    text-indent: 0;
}

section.noteSpace { /* makes enough space at the end of webpage for the note link to bring the specified note to the top of the screen. */	
    height: 60em;
    color: #FFFFFF;   
}
section.noteSpace > h2 {color: #FFFFFF;}

/* section types (in TEI, main div types, except notes -- see below.)  */
.essay {
    background-color:#ffffff;
    border:solid 1px #666666;
    width:65em;
    padding: 20px;
    text-align: left;
}
.biography {
    background-color:#ffffff;
    border:solid 1px #666666;
    width:65em;
    padding: 20px;
}

/* ------------------------------------------------------------------------ */
/* -------------------------appearance of font/type------------------------ */
/* ------------------------------------------------------------------------ */

h1 {
	color: #46597D;
	font-size: 30px;
	font-weight: normal;
	margin-top: 0em;
	margin-bottom: 0em;
/* both set to zero and padding in header div is used intead to deal 
 * with compound ie pc problems that are beyound summary in a simple comment. */
}
h2 {
	color: #46597D;
	font-size: 28px;
	margin: 1.2em 0em 1.2em 0em;
	font-weight: 600;
}
h3 {
	color: #46597D;
	font-size: 24px;
	margin: 1.2em 0em .6em 0em;
	font-weight: 600;
}
h4 {
	color: #46597D;
	font-size: 22px;
	margin: 1.2em 0em .6em 0em;
	font-weight: bold;
	text-align: center;
}
h5 {
	color: #46597D;
	font-size: 20px;
	margin: 1.2em 0em 1.2em 0em;
	font-weight: bold;
}
h6 {
	color: #46597D;
	font-size: 18px;
	margin: 1.2em 0em 1.2em 0em;
	font-weight: bold;
}
ol, ul, li {
	list-style: none;
	font-size: 24px;
	line-height: 30px;
	letter-spacing: 0.6px;
	margin-top: 0.2em;
	margin-bottom: 0.1em;
	margin-left: 1em;
	
}
em {
    font-style: italic;
}
.title {
    font-style: italic;
}
.titleQ::before {
    content: '\0022';
}
.titleQ::after {
    content: '\0022';
}
header > .title {
    display: block;
}
header > .titleQ {
    display: block;
}
header > .author {
    display: block;
}
.italic {
    font-style: italic;
}
.small {
    font-size: 18px;
}
.large {
    font-size: 32px;
}
.dropcap {
    background: #303030;
    color: #FDF9F2;
    float: left;
    font-size: 6rem;
    line-height: 1;
    margin: -0.1em 0.1em 0.05em 0;
    padding: 0.1em;
    display: block;
}
.smcaps {
    font-variant: small-caps;
}

/* paragraphs and indentations */
p { 
    font-size: 24px;
	line-height: 30px;
	text-indent: 45px;
	letter-spacing: 0.6px;
	clear:both;
}
.noindent {
	font-size: 24px;
	line-height: 30px;
	text-indent: 0px;
	letter-spacing: 0.6px;
}

/* header and header items (for divs) */
header {
    text-align: center;
    font-size: 24px;
	line-height: 30px;
	letter-spacing: 0.6px;
}
.headBibl {
    clear:both;
    text-align: center;
    font-size: 24px;
	line-height: 30px;
	letter-spacing: 0.6px;
	margin: 5em 1em 2em 0;
	padding: 0;
	}
.author {
    display: block;
    margin-bottom: 1.5em;
}
.titleHeader {
    display: block;
    padding-bottom: 1em;
}

/* tables; you can add types by giving the table a "rend" tag -- the rend will become a class, so table.CLASSNAME */
table {
    width: 100%;
    border: 1px solid black;
    border-collapse: collapse;
}
  tr.xxx:hover {background-color: yellow;}

/* poems */
 .poem {
    width: 100%;
    margin-left: 10em;
    margin-top: 32px;
    margin-bottom: 32px;
    display: table;
}
.stanza { 
    width: 100%;
    display: table-row-group;
    text-indent: 0px;
	font-size: 24px;
	line-height: 30px;
	letter-spacing: 0.6px;
}
.stanzaSpace {
    display: table-row;
    color: #FFFFFF;
    /* adding an invisible line of text so I can get a blank row between stanzas */
}
.l {
    width: 100%;
	display: table-row;
}
.ltext {
    width: 93%;
    display: table-cell;  
}
.lno {
    padding-right: 4em;
    width: 7%;
    display: table-cell;
}
/* indentations can be used in poems, divs, paragraphs, etc. */
.indent {
    text-indent: 10px;
	font-size: 24px;	
	line-height: 30px;
	letter-spacing: 0.6px;
	display: block;
}
.indent1 {
	text-indent: 20px;
	font-size: 24px;
    line-height: 30px;
	letter-spacing: 0.6px;
	display: block;
}
.indent2 {
	text-indent: 30px;
	font-size: 24px;
	line-height: 30px;
	letter-spacing: 0.6px;
	display: block;
}
.indent3 {
	text-indent: 40px;
	font-size: 24px;
	line-height: 30px;
	letter-spacing: 0.6px;
	display: block;
}
.indent4 {
	text-indent: 50px;
	font-size: 24px;
	line-height: 30px;
	letter-spacing: 0.6px;
	display: block;
}
.indent5 {
	text-indent: 60px;
	font-size: 24px;
	line-height: 30px;
	letter-spacing: 0.6px;
	display: block;
}
.indent6 {
	text-indent: 70px;
	font-size: 24px;
	line-height: 30px;
	letter-spacing: 0.6px;
	display: block;
}
.indent7 {
	text-indent: 80px;
	font-size: 24px;
	line-height: 30px;
	letter-spacing: 0.6px;
	display: block;
}
.indent8 {
	text-indent: 90px;
	font-size: 24px;
	line-height: 30px;
	letter-spacing: 0.6px;
	display: block;
}
.indent9 {
	text-indent: 100px;
	font-size: 24px;
	line-height: 30px;
	letter-spacing: 0.6px;
	display: block;
}
.indent10 {
	text-indent: 110px;
	font-size: 24px;
	line-height: 30px;
	letter-spacing: 0.6px;
	display: block;
}
.indent11 {
	text-indent: 120px;
	font-size: 24px;
	line-height: 30px;
	letter-spacing: 0.6px;
	display: block;
}
.indent12 {
	text-indent: 130px;
	font-size: 24px;
	line-height: 30px;
	letter-spacing: 0.6px;
	display: block;
}
.indent13 {
	text-indent: 140px;
	font-size: 24px;
	line-height: 30px;
	letter-spacing: 0.6px;
	display: block;
}
.indent14 {
	text-indent: 150px;
	font-size: 24px;
	line-height: 30px;
	letter-spacing: 0.6px;
	display: block;
}
.indent15 {
	text-indent: 160px;
	font-size: 24px;
	line-height: 30px;
	letter-spacing: 0.6px;
	display: block;
}
.indent20 {
	text-indent: 210px;
	font-size: 24px;
	line-height: 30px;
	letter-spacing: 0.6px;
	display: block;
}
.indent25 {
	text-indent: 260px;
	font-size: 24px;
	line-height: 30px;
	letter-spacing: 0.6px;
	display: block;
}
.indent30 {
	text-indent: 310px;
	font-size: 24px;
	line-height: 30px;
	letter-spacing: 0.6px;
	display: block;
}

/*  hyperlinks */
a {
    text-decoration: none;
}
a:hover {
	color: #9933CC;
}

/* letters */

.salute {
	color: black;
	font-size: 1.2em;
	font-weight: normal;
	line-height: .75em;
}

.saluteHead {
	color: black;
	font-size: 1.4em;
	font-weight: bold;
	line-height: 1em;
	padding:0px;
}

/* drama */


.set {
	text-align: center;
}

.castListHead {
	text-align: center;
}

.castGroupings {
    border: none;
	color: black;
	font-size: 1.0em;
	font-weight: normal;
	width: 50%;
}

.roleDesc {
	font-size: 0.8em;
	text-align: center;
}

.actor {
	font-size: 0.8em;
	text-align: right;
}

.castItem {
	font-size: 1em;
}

.stageCenter {
    font-weight: 400;
	width: 100%;
	text-align:center;
}

.stageRight {
    position:relative; /* changed from absolute to relative */
    right:45%;
	font-weight: 400;
}

.sceneHead {
	font-family: garamond, serif;
	font-size: 1.8em;
	font-weight: bold;
	width: 50%;
	text-align:center;
	color: #46597D;
}

.title {
    font-style: italic;
}

.titleMain {
    font-size: 24px;
	line-height: 30px;
	text-indent: 0px;
	letter-spacing: 0.6px;
}

.titleSub {
    font-size: 24px;
	line-height: 30px;
	text-indent: 0px;
	letter-spacing: 0.6px;
}

.titleWhole {
    font-size: 24px;
	line-height: 30px;
	text-indent: 0px;
	letter-spacing: 0.6px;
	font-style:italic;
}

.titlePart {
    font-size: 24px;
	line-height: 30px;
	text-indent: 0px;
	letter-spacing: 0.6px;
}
span.titlePart::before {
    content: ' \0022';
}
span.titlePart::after {
    content: ' \0022';
}
.sp {
    font-weight: 700;
	font-size: 1.2em;
	line-height: 1em;
}

.prologue {
    border: none;
    width: 70%;
}
.epilogue {
    border: none;
    width: 70%;
}
.speech {
    border: none;
    width: 100%;
}

/* page numbers or tops of pages if using fw type="pageNumber" to manually place page numbers */
.pageNumber {
    border-top: 1.2px solid black;
    display: block;
    width: 100%;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
	font-size: 24px;
	line-height: 30px;
	text-indent: 0px;
	letter-spacing: 0.6px;
	text-align: center;
	}
.pageInside {
    border-top: 1.2px solid black;
    display: block;
    width: 45em;
    margin: 2em -1em 2em -6.2em;
	font-size: 24px;
	line-height: 30px;
	text-indent: 0px;
	letter-spacing: 0.6px;
	text-align: center;
	clear: both;
}
/* temporary!!! */
.pageInsideStanza {
    border-top: 1.2px solid black;
    display: block;
    width: 45em;
    margin: 2em -1em 2em -6.2em;
	font-size: 24px;
	line-height: 30px;
	text-indent: 0px;
	letter-spacing: 0.6px;
	text-align: center;
	clear: both;
	}

/* don't know whether i need this */
hr.pageTop {
    border-top: 1.2px solid black;
    display: block;
    width: 100%;
    margin-bottom: 1.5em;
}

/* the next two rules are required for page numbers inside quotations to be properly aligned, even if their parent is a 
 * p tag, whether indented or not. I cannot change p and p.noindent themselves because they are working everywhere.
 * It might have worked to take out "text-align: left" from div blockquote, but I don't want to try that because who
 * knows what else that would break . . . . */
div.blockquote > p.noindent > span.pageInside {
    margin-left: -6.2em;
}
div.blockquote > p > span.pageInside {
    margin-left: -6.2em;
}
.hang {
	font-size: 24px;
	text-indent: -30px;
	margin-left: 30px;
	line-height: 30px;
	
	/* The blockquote element is not used, only div and span class "blockquote" */
}
div.blockquote {
    margin-left: 8em;
     display: block;
     text-align: left;
}
span.blockquote {
     padding-top: .75em;
     margin-left: 7em;
     display: block;
     text-align: left;
  }
	
/* For fw: page number, catchword, volumes and signatures */

.pageBreak {
    position: relative;
    margin-left: -7%;
    margin-right: 10%;
}

.pageTopLeft {
    display: block;
    text-align:left;
    font-size: 24px;
	line-height: 30px;
	text-indent: 5em;
	letter-spacing: 0.6px;
    /* width: 31em; */
    float: left;
    /*  margin: 0 -1em 1em -5em; */
    position: relative;
    margin-left: -15%;
	padding-top: .5em;
	padding-bottom: .25em;
}

.pageTopCenter {
    display: block;
    text-align:right;
    font-size: 24px;
	line-height: 30px;
	text-indent: 1em;
	letter-spacing: 0.6px;
    /*  width: 31em; */
    float: right;
    /*  margin: 0 -1em 1em 0; */
    position:relative;
    margin-right: 40%;
	padding-top: .5em;
	padding-bottom: .25em;
    
}
.pageTopRight {
    display: block;
    text-align:right;
    font-size: 24px;
	line-height: 30px;
	text-indent: 1em;
	letter-spacing: 0.6px;
    /*  width: 31em; */
    float: right;
    /*  margin: 0 -1em 1em 0; */
    position:relative;
    margin-right: 10%;
	padding-top: .5em;
	padding-bottom: .25em;
}
.pageHeader {
    border-top: 1.2px solid black;
    display: block;
    width: 100%;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
	font-size: 24px;
	line-height: 30px;
	text-indent: 0px;
	letter-spacing: 0.6px;
	text-align: center;
	clear: both;
	}
.catch {
    display: block;
    text-align:right;
    font-size: 24px;
	line-height: 30px;
	text-indent: 1em;
	letter-spacing: 0.6px;
    /*  width: 31em; */
    position: relative;
    margin-right: 10%;
    /* margin: 0 -1em 1em 0; */
	padding-top: .5em;
	padding-bottom: .25em;
	clear:both;
}
.sig {
    display: block;
    text-align: center;
    font-size: 24px;
	line-height: 30px;
	text-indent: 0px;
	letter-spacing: 0.6px;
	margin-bottom: 1em;
	padding-top: .5em;
	padding-bottom: .25em;
}
.sigInside {
    display: block;
    text-align: center;
    font-size: 24px;
	line-height: 30px;
	text-indent: 0px;
	letter-spacing: 0.6px;
	width: 50em;
	margin: 0 -1em 1em -5.75em;
	padding-top: .5em;
	padding-bottom: .25em;
	
}
.vol {
    display: block;
    text-align: left;
	font-size: 24px;
	line-height: 30px;
	letter-spacing: 0.6px;
	width: 100%;
	margin: 0 -1em 1em -2.25em;
	padding-top: 2em;
	padding-bottom: 2em;
}
.volInside {
    display: block;
    text-align: left;
	font-size: 24px;
	line-height: 30px;
	letter-spacing: 0.6px;
	width: 50em;
	margin: 0 -1em 1em -5em;
	padding-top: .5em;
	padding-bottom: .25em;
}
.volWithSig {
    display: block;
    text-align:left;
    font-size: 24px;
	line-height: 30px;
	text-indent: 5em;
	letter-spacing: 0.6px;
    width: 31em;
    float: left;
    margin: 0 -1em 1em -5em;
	padding-top: .5em;
	padding-bottom: .25em;
}
.sigWithVol {
    display: block;
    text-align:left;
    font-size: 24px;
	line-height: 30px;
	text-indent: 1em;
	letter-spacing: 0.6px;
    width: 31em;
    margin: 0 -1em 1em 0;
	padding-top: .5em;
	padding-bottom: .25em;
}
.volWithSigInside {
    display: block;
    text-align:left;
    font-size: 24px;
	line-height: 30px;
	text-indent: -1em;
	letter-spacing: 0.6px;
    width: 27em;
    float: left;
    margin: 0 -1em 1em -5em;
	padding-top: .5em;
	padding-bottom: .25em;
}
.sigWithVolInside {
    display: block;
    text-align:left;
    font-size: 24px;
	line-height: 30px;
	text-indent: -5em;
	letter-spacing: 0.6px;
    width: 31em;
    margin-bottom: 1em;
	padding-top: .5em;
	padding-bottom: .25em;
}

.epigCite {
	margin-left: 30%;
}

.epigraph {
    width: 30%;
    margin-left: 15%;
}


/* lists */
dt {
    font-family: "Cormorant+Garmond";
    font-size: 24px;
	line-height: 30px;
	text-indent: 0px;
	letter-spacing: 0.6px;
    font-weight: bold;
    padding: 1em;
}
dd {
    font-family: "Cormorant+Garmond";
    font-size: 24px;
	line-height: 30px;
	text-indent: 0px;
	letter-spacing: 0.6px;
}
ul, ol {
	list-style-type: none;
}
li {
	list-style-type: none;
	font-size: 24px;
	line-height: 30px;
	text-indent: 0px;
	letter-spacing: 0.6px;
	margin-bottom: 1em;
}

/* title pages */

.tp {
    width: 40em;
}
.imageTP {
    height: 350px;
    width: 200px;
    float: right;
    padding-left: 5em;
    padding-right: 10em;
}
h2.tp {
    
}
.tpPubInfo {
    text-align: center;
}
.tpPlace {
    display: block;
}
.tpPub {
    display: block;
}
.tpDate {
    display: block;
}

/* other */

#resetMargin {
      margin-left:-10em;
      clear: both;
  }
.mouseover {
	color: #0000CC
}

.left {
    text-align:left;
}
.right {
    text-align: right;
    margin-right: 2em;
}
.center {
    text-align: center;
}
.flushRight {
    float: right;
}
.flushLeft {
    float: left;
}
.italics {
    font-style: italic;
}
figure {
    text-align: center;
    font-size: 12pt;
}
.smcaps {
    font-variant: small-caps;
}
.sup {
    vertical-align: super;
    font-size: 12pt;
    line-height: 30%;
}
sup {
    vertical-align: super;
    font-size: 12pt;
    line-height: 30%;
}
img {
    margin-left: auto;
    margin-right: auto;
    
}
div.toc{
    background-color: transparent;
}
header{
    
}
